@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: #ebebff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  background-color: #fff;
}

.nav-links {
  display: none;
}

.logo-style {
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
  color: #6070ff;
}

.menu-style {
  margin-right: 20px;
}

.headline {
  width: 100%;
  height: auto;
  background-image: url(./icons/header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50px;
  background-color: #fff;
}

.greeting-style {
  font-size: 40px;
  width: 70%;
  margin-left: 10%;
  color: #172b4d;
  margin-top: 25%;
}

.intro {
  font-size: 16px;
  width: 85%;
  color: #344563;
  margin-left: 10%;
}

.text2 {
  margin-left: 10%;
  line-height: 24px;
  font-weight: 500;
  color: #7f8cff;
}

.social-media {
  margin-left: 10%;
}

.work-section {
  display: grid;
  grid-template-rows: repeat(4, auto);
  width: 100%;
  height: auto;
}

.card-works {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: auto;
  justify-items: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 15px;
  border: 20px solid white;
  margin-top: 150px;
  transition: box-shadow 0.4s ease;
}

.card:hover {
  box-shadow: 0 0 0 2px #a7aeef;
}

.card-items h4 {
  font-size: 32px;
  font-weight: 700;
  height: auto;
  width: auto;
  align-self: flex-start;
  color: #172b4d;
}

.img1 {
  background-image: url(./icons/Snapshoot\ Portfolio.png);
  height: 230px;
  width: 300px;
  background-repeat: no-repeat;
  align-self: center;
  margin-left: 2%;
}

.tonic {
  margin: 1px;
  padding-top: 12px;
}

.tags {
  font-weight: 600;
  display: inline-flex;
  font-size: 12px;
  color: #344563;
}

.primary-text {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  display: inline-block;
  width: 295px;
}

.tag {
  position: relative;
  border-radius: 8px;
  background-color: #ebebff;
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  padding: 5px 12px;
  box-sizing: border-box;
  font-size: 12px;
  color: #6070ff;
}

.see-project {
  width: fit-content;
  position: relative;
  border-radius: 8px;
  display: inline-flex;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #6070ff;
  padding: 12px;
  margin-top: 25px;
  text-align: center;
  color: #396df2;
}

.top {
  border: 1px solid #d7d7e2e7;
  border-radius: 15px;
  padding: 10px;
  width: 327px;
  height: 1050px;
  margin-top: 114px;
  margin-left: 12px;
}

.top-items {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px 70px 16px 16px;
  padding: 16px;
  text-align: left;
}

.about-myself {
  margin-top: 114px;
  font-size: 35px;
  display: flex;
  text-align: left;
  align-items: center;
  height: 35px;
}

.description {
  margin-top: 0%;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  display: inline-block;
  height: auto;
}

.resume {
  position: relative;
  border-radius: 8px;
  display: inline-flex;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #6070ff;
  padding: 12px;
  margin-top: 12px;
  text-align: center;
  color: #396df2;
}

.social {
  list-style: none;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.icon {
  padding: 4px;
  height: 16px;
  width: 16px;
  justify-content: center;
}

.language-frame {
  position: relative;
  margin-top: 12px;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 6px;
  align-items: center;
}

.language {
  margin: 6px;
  height: 24px;
  width: 250px;
  justify-content: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: black;
}

.arrow {
  margin: 6px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.hover:hover {
  color: #fff;
  background-color: #6070ff;
}

.language-name-box {
  position: relative;
  margin-top: 12px;
  height: 55px;
  background-color: #f7f7f9;
  border-radius: 12px;
  display: flex;
  padding: 6px;
  align-items: center;
}

.language-icon {
  margin: 6px;
  padding-left: 6px;
  padding-right: 10px;
  position: relative;
  height: 48px;
  width: 48px;
  flex-shrink: 0;
}

.language-name {
  margin: 6px;
  height: 24px;
  width: 250px;
  justify-content: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: black;
}

.language-frame1 {
  position: relative;
  border-bottom: 2px solid #c8c8cb;
  margin-top: 12px;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 6px;
  align-items: center;
}

.contact-body {
  background-color: #6070ff;
  border-radius: 80px 8px 8px 8px;
  width: 375px;
  height: 980px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  align-items: center;
  color: #ebebff;
}

.contact-me {
  margin-top: 130px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  height: 50px;
  color: #fff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 52px;
}

.form-text {
  width: 327px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #ebebff;
  font-size: 19px;
  text-align: center;
  padding-bottom: 12px;
}

.container1 {
  width: 375px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  padding: 11px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 315px;
  padding: 17px;
  margin-left: 10px;
  margin-bottom: 15px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

textarea {
  resize: vertical;
  height: 150px;
}

button[type="submit"] {
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #6070ff;
  font-size: 20px;
  padding: 10px;
  border: 1px rgb(209, 209, 209);
  height: 48px;
  width: 149px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 11px;
}

button[type="submit"]:hover {
  background-color: rgb(237, 238, 240);
}

textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #b3bac5;
  font-size: 15px;
  line-height: 24px;
  background: transparent;
  width: auto;
}

.box {
  margin-top: 40px;
  padding-top: 8px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {

  .headline {
    background-image: url(./icons/desktop/headerbackground.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 90vh;
  }

  .greeting-style {
    margin-top: 10%;
    width: 30%;
  }

  .intro {
    width: 60%;
  }

  .logo-style {
    margin-left: 8%;
  }

  .menu-style {
    margin-right: 8%;
    display: none;
  }

  .container {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .card-works {
    border: 1px solid #d7d7e2e7;
    border-radius: 15px;
    padding: 15px;
    margin-top: 5%;
    background-color: rgba(240, 240, 240, 0.8);
  }
}
