@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section2 {
  display: none;
}

.nav-bar {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  position: sticky;
}

.nav-link {
  display: none;
}

.logo-style {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
  color: #6070ff;
}

.menu {
  float: right;
  align-items: center;
}

.menu-style {
  padding: 10px;
  margin-top: 6px;
  margin-right: 20px;
  margin-left: 20px;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.headline {
  background-image: url(./icons/header-mobile.png);
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 100px;
  background-color: #fff;
  margin-bottom: 5%;
}

.greeting-style {
  font-size: 40px;
  width: 85%;
  margin-left: 10%;
  color: #172b4d;
  margin-top: 25%;
}

.intro {
  margin-left: 10%;
  font-size: 18px;
  width: 85%;
  color: #344563;
}

.slide-in-text {
  transform: translateX(-100%);
  opacity: 1;
  position: relative;
  animation: slide-in 2s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.zoom-in-text {
  transform: scale(0);
  opacity: 0;
  position: relative;
  transform-origin: top left;
  animation: zoom-in 1.9s ease-out forwards;
}

@keyframes zoom-in {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 4s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.connect {
  margin-left: 10%;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  color: #7f8cff;
}

.social-media {
  margin-left: 10%;
  margin-bottom: 16%;
}

.card-works {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-items: center;
  width: auto;
  margin: 2%;
  border-radius: 15px;
  border: 1px solid #d7d7e2e7;
  height: 550px;
  transition: box-shadow 0.2s ease;
  transition: transform 0.8s;
  margin-bottom: 15%;
}

.card-items {
  padding-top: 5px;
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.img1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-works:hover {
  box-shadow: 0 0 0 1px #727ff4;
  transform: scale(1.1);
}

.tonic {
  font-size: 20px;
  width: fit-content;
  margin-top: 6%;
  margin-left: 3%;
  margin-bottom: 0%;
}

.tags {
  font-weight: 600;
  display: inline-flex;
  font-size: 12px;
  color: #344563;
  padding-left: 3%;
}

.primary-text {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  display: inline-block;
  width: auto;
  padding-left: 3%;
}

.tag {
  border: 1px solid #a2abfb;
  position: relative;
  border-radius: 8px;
  background-color: #ebebff;
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  padding: 5px 12px;
  box-sizing: border-box;
  font-size: 12px;
  color: #6070ff;
  margin-left: 3%;
}

.see-project {
  width: fit-content;
  position: relative;
  border-radius: 8px;
  display: inline-flex;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #6070ff;
  padding: 12px;
  margin-top: 22px;
  margin-left: 3%;
  text-align: center;
  color: #396df3;
}

.top-desktop {
  display: none;
}

.top-mobile {
  width: auto;
  background-color: #fff;
  border-radius: 0 130px 0 0;
}

.top-items {
  padding: 16px;
  height: 1050px;
}

.about-myself {
  margin-left: 5%;
  margin-top: 114px;
  font-size: 35px;
  display: flex;
  width: 90%;
  height: auto;
}

.description {
  margin-left: 5%;
  margin-top: 0%;
  font-size: 16px;
  line-height: 24px;
  width: 90%;
}

.connect-contact {
  margin-left: 5%;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  color: #7f8cff;
}

.resume {
  margin-left: 5%;
  position: relative;
  border-radius: 8px;
  display: inline-flex;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #6070ff;
  padding: 12px;
  margin-top: 12px;
  text-align: center;
  color: #396df3;
}

.social {
  margin-left: 5%;
  list-style: none;
  padding: 8px;
  padding-left: 0%;
  display: flex;
  width: fit-content;
  gap: 16px;
}

.icon {
  padding: 4px;
  height: 16px;
  width: 16px;
  justify-content: center;
}

.language-frame {
  width: 90%;
  margin-left: 5%;
  position: relative;
  margin-top: 12px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.language {
  margin: 6px;
  height: 24px;
  justify-content: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: black;
}

.arrow {
  margin: 7px;
  height: 25px;
}

.hover:hover {
  color: #fff;
  background-color: #6070ff;
}

.language-name-box {
  border: 1px solid #f0f0f0;
  width: 90%;
  margin-top: 12px;
  margin-left: 5%;
  padding: 6px 0 6px;
  height: 55px;
  background-color: #f7f7f9;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.language-icon {
  margin: 6px;
  padding-left: 6px;
  padding-right: 10px;
  position: relative;
  height: 48px;
  width: 48px;
  flex-shrink: 0;
}

.language-name {
  margin: 6px;
  height: 24px;
  width: 250px;
  justify-content: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: black;
}

.language-frame1 {
  margin-left: 5%;
  width: 86%;
  border-bottom: 2px solid #c8c8cb;
  margin-top: 12px;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 6px;
  align-items: center;
  justify-content: space-between;
}

.contact-body {
  background-color: #6070ff;
  border-radius: 125px 0 8px 8px;
  width: auto;
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ebebff;
}

.contact-me {
  margin-top: 130px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  height: 50px;
  color: #fff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 52px;
}

.form-text {
  width: 80%;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #ebebff;
  font-size: 19px;
  text-align: center;
  padding: 8px;
  margin-bottom: 3%;
}

form {
  display: flex;
  flex-direction: column;
}

.container-mobile {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 12px;
  border-radius: 20px;
}

.container-desktop {
  flex-direction: column;
  width: 550px;
  padding: 20px;
  display: none;
}

label {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-left: 5%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 17px;
  margin-left: 5%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

textarea {
  resize: vertical;
  height: 150px;
}

button[type="submit"] {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #6070ff;
  font-size: 20px;
  padding: 10px;
  border: 1px #d1d1d1;
  height: 48px;
  width: 149px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 5%;
  transition: transform 0.8s;
}

button[type="submit"]:hover {
  background-color: #eeeef0;
  transform: scale(1.02);
}

textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #b3bac5;
  font-size: 15px;
  line-height: 24px;
  background: transparent;
  width: auto;
}

@media only screen and (min-width: 767px) {
  .nav-bar {
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .logo-style {
    padding: 8px;
    margin-left: 8%;
  }

  .menu-style {
    display: none;
  }

  .menu-content {
    display: none;
  }

  .nav-link {
    padding: 8px;
    display: flex;
    align-self: center;
    margin-right: 12%;
  }

  .nav-link-style {
    margin-left: 12%;
    font-size: 18px;
    font-weight: 500;
    color: #396df2;
  }

  .headline {
    background-image: url(./icons/Desktop/Header-desktop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
  }

  .greeting-style {
    margin-left: 15%;
    margin-top: 10%;
    width: 30%;
  }

  .intro {
    margin-left: 15%;
    width: 60%;
  }

  .connect {
    margin-left: 15%;
  }

  .social-media {
    margin-left: 15%;
  }

  .img1 {
    display: none;
  }

  .section1 {
    display: none;
  }

  .section2 {
    display: block;
  }

  .card-works2 {
    margin: 2%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 16px;
    width: auto;
    height: 496px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease;
    transition: transform 0.8s;
  }

  .card-works2 img {
    padding: 2%;
    border-radius: 16px;
    position: relative;
    height: 448;
    width: 544;
    overflow: hidden;
    object-fit: cover;
  }

  .card-works2:hover {
    box-shadow: 0 0 0 1px #727ff4;
    transform: scale(1.05);
  }

  .detail {
    width: 544px;
  }

  .tonic2 {
    width: fit-content;
    font-size: 30px;
    font-weight: 600;
  }

  .tags2 {
    width: fit-content;
    display: inline-flex;
    font-size: 17px;
    color: #344563;
    margin-right: 3%;
    margin-top: 2%;
  }

  .primary-text2 {
    font-size: 14px;
    line-height: 20px;
    color: #344563;
    display: inline-block;
    width: 90%;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .tag2 {
    border: 1px solid #a2abfb;
    border-radius: 8px;
    background-color: #ebebff;
    overflow: hidden;
    display: inline-flex;
    width: fit-content;
    padding: 5px 12px;
    font-size: 12px;
    color: #6070ff;
  }

  .see-project2 {
    width: fit-content;
    position: relative;
    border-radius: 8px;
    display: inline-flex;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #6070ff;
    padding: 12px;
    margin-top: 5%;
    text-align: center;
    color: #396df2;
  }

  .card-reverse {
    margin: 2%;
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    border-radius: 16px;
    width: auto;
    height: 496px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease;
    transition: transform 0.8s;
    padding-left: 2%;
  }

  .card-reverse img {
    padding: 2%;
    border-radius: 16px;
    position: relative;
    height: 448;
    width: 544;
    overflow: hidden;
    object-fit: cover;
  }

  .card-reverse:hover {
    box-shadow: 0 0 0 1px #727ff4;
    transform: scale(1.05);
  }

  .detail-reverse {
    width: 544px;
  }

  .tonic-reverse {
    width: fit-content;
    font-size: 30px;
    font-weight: 600;
    margin-left: 3%;
  }

  .tags-reverse {
    width: fit-content;
    display: inline-flex;
    font-size: 17px;
    color: #344563;
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 3%;
  }

  .primary-text-reverse {
    width: 90%;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #344563;
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 2%;
  }

  .tag-reverse {
    border: 1px solid #a2abfb;
    border-radius: 8px;
    background-color: #ebebff;
    overflow: hidden;
    display: inline-flex;
    padding: 5px 12px;
    font-size: 12px;
    color: #6070ff;
    margin-left: 3%;
    width: fit-content;
  }

  .see-project-reverse {
    width: fit-content;
    border-radius: 8px;
    display: inline-flex;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #6070ff;
    padding: 12px;
    margin-top: 5%;
    margin-left: 3%;
    text-align: center;
    color: #396df2;
  }

  .container-mobile {
    display: none;
  }

  .container-desktop {
    display: flex;
  }

  .top-mobile {
    display: none;
  }

  .contact-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px 125px 15px 15px;
    width: auto;
    height: auto;
    justify-content: center;
  }

  .top-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .left-block {
    margin-top: 166px;
    margin-bottom: 150px;
    margin-left: 5%;
    height: auto;
    width: 550px;
  }

  .myself-desktop {
    margin-left: 5%;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    font-style: normal;
    display: flex;
    width: 90%;
    height: auto;
    margin-bottom: 24px;
  }

  .social-desktop {
    margin: 24px;
    list-style: none;
    margin-left: 4%;
    display: flex;
    width: fit-content;
    gap: 16px;
  }

  .right-block {
    width: 684px;
    height: fit-content;
    margin-top: 166px;
    margin-bottom: 150px;
    margin-right: 5%;
  }

  .language-frame-desktop {
    width: 90%;
    margin-left: 5%;
    margin-top: 12px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
  }

  .language-desktop {
    margin: 6px;
    height: 24px;
    justify-content: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: black;
  }

  .language-container {
    margin-left: 5%;
    width: 90%;
    border-bottom: 2px solid #c8c8cb;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .language-name-box-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #dfdfdf;
    width: 132px;
    height: 110px;
    padding: 6px;
    background-color: #f7f7f9;
    border-radius: 12px;
    margin-bottom: 10px;
  }

  .language-frame1-desktop {
    margin-left: 5%;
    width: 90%;
    border-bottom: 2px solid #c8c8cb;
    margin-top: 12px;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
  }
}
