.body {
  border: 2px;
  background-image: url("https://cdn.create.vista.com/api/media/medium/22369587/stock-vector-abstract-vector-blue-background-yellow-lines?token=");
  background-repeat:round;  
  width: auto;
  height: 835px;
}

.container {
  border: 1px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.logo-style {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 2px;
  font-family: sans-serif;
  font-size: 25px;
  color: #6070ff;
  font-weight: 800;
}

.menu-style {
  padding-right: 10px;
  padding-top: 13px;
  border: 2px;
  width: 70px;
  height: 30px;
  text-align: center;
  justify-content: center;
}

.greeting-style {
    padding-top: 150px;
  border: 2px;
  width: 327px;
  height: auto;
  padding-left: 24px;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-align: left;
}

.text1 {
  padding-top: 10px;
  border: 2px;
  width: 327px;
  height: auto;
  padding-left: 24px;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  font-style: italic;
}

.text2 {
  padding-top: 10px;
  border: 2px;
  width: 327px;
  height: auto;
  padding-left: 24px;
  color: #7F8Cff;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
}

.social-media {
  border: 2px;
  padding-top: 10px;
  width: 327px;
  height: auto;
  padding-left: 24px;
}
