@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: poppins, sans-serif;
    color: #333;
    background-color: #FAF9F6;
}